@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background-color: antiquewhite;
  background-image: url(../assets/bg.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-y: 22rem;
  transition: .2s;
}

.container-header {
  display: block;
  margin: auto;
  width: 22rem;
  margin-top: 2rem;
  margin-bottom: -4rem;
  font-size: 22px;
  text-align: center;
}

.icon {
  margin-bottom: 0.12rem;
  width: 34px;
}

.container-form {
  display: block;
  margin: auto;
  margin-top: 5rem;
  width: 60vw;
  background-color: rgb(160 159 161);
  padding: 1.2rem;
  border-radius: 4px;
  opacity: 80%;
  text-align: right;
}

label {
  display: block;
  text-align: left;
  font-size: 1.5rem;
  color: rgb(82, 12, 82);
}

#user {
  width: 44vw;
  margin: 1rem 0;
  border: none;
  padding: 1rem;
  border-radius: 4px;
}

.button {
  width: 4rem;
  border: none;
  height: 2rem;
  background-color: rgb(53, 3, 53);
  color: antiquewhite;
  opacity: 90%;
}

.button:hover {
  opacity: 1;
  transition: 0.5s;
}

.btn-toggle {
  background: #051428;
  color: white;
  position: absolute;
  width: 4.5rem;
  height: 1.2rem;
  border-radius: 4px;
  font-size: 0.5rem;
  margin-top: -10rem;
  margin-left: -4.5rem;
  font-size: .5rem;
}

.container-respost {
  display: block;
  margin: auto;
  width: 28vw;
  margin-top: 0.5rem;
  text-align: center;
  background-color: rgb(165, 152, 154);
  border-radius: 4px;
  padding: 1rem;
  opacity: 90%;
}

ul {
  list-style: none;
}

.img {
  width: 10rem;
  border-radius: 50%;
  opacity: 1;
}

.bio {
  background-color: purple;
  border-radius: 4px;
  color: antiquewhite;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.container-numbers {
  background-color: purple;
  border-radius: 4px;
  color: antiquewhite;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

footer {
  text-align: center;
  margin: auto;
  position: absolute;
  width: 100%;
  margin-top:  -1.5rem;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    background-position-y: 300px;
  }
  .container-form {
    width: 385px;
  }

  #user {
    width: 280px;
  }

  .container-res {
    width: 385px;
  }
}

@media (min-width: 1024px) {
  body {
    background-position-y: 0.4rem;
  }

  .container-form {
    margin-top: rem;
  }

  .icon {
    width: 2rem;
  }
}